<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @model_range.name %>
</p>
<ul>
  <% @model_range.models.each do |model| %>
    <li> <%= link_to model.name, manufacturer_model_range_model_path(@manufacturer, @model_range, model) %> </li>
  <% end %>
</ul>
