<h1><%= @manufacturer.name %></h1>

<ul>
  <% @model_ranges.each do |model_range| %>
    <li> <%= link_to model_range.name, manufacturer_model_range_path(@manufacturer, model_range) %> </li>
  <% end %>
</ul>
